.dart_tool/
.flutter-plugins-dependencies
.pub/
build/
coverage/
.DS_Store
*.iml
.idea/
android/local.properties
android/key.properties
android/.gradle/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
macos/Pods/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
**/xcuserdata/
**/*.xcuserstate
*.keystore
*.jks
*.p12
*.mobileprovision
datasets/private/
.env
